DATABASE_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/iot_temp_db?retryWrites=true&w=majority"
PORT=5000
FRONTEND_URL=http://localhost:3000
PI_SECRET=super-secret-raspberry-pi-secret